<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Capstone</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Capstone Project</h1>
        <nav>
          <ul class="menu">
            <li><strong><a href="{{url_for('home')}}">Home</a></strong></li>
            <li><strong><a href="{{url_for('about')}}">About</a></strong></li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
